:root {
  /* Primary */

  --ds-color-primary-50: #eff6ff;
  --ds-color-primary-100: #dbeafe;
  --ds-color-primary-200: #bfdbfe;
  --ds-color-primary-300: #93c5fd;
  --ds-color-primary-400: #60a5fa;
  --ds-color-primary-500: #3b82f6;
  --ds-color-primary-600: #2563eb;
  --ds-color-primary-700: #1d4ed8;
  --ds-color-primary-800: #1e40af;
  --ds-color-primary-900: #1e3a8a;

  /* Neutral */

  --ds-color-neutral-50: #fafafa;
  --ds-color-neutral-100: #f5f5f5;
  --ds-color-neutral-200: #e5e5e5;
  --ds-color-neutral-300: #d4d4d4;
  --ds-color-neutral-400: #a3a3a3;
  --ds-color-neutral-500: #737373;
  --ds-color-neutral-600: #525252;
  --ds-color-neutral-700: #404040;
  --ds-color-neutral-800: #262626;
  --ds-color-neutral-900: #171717;

  /* Semantic */

  --ds-color-success-500: #22c55e;
  --ds-color-warning-500: #f59e0b;
  --ds-color-danger-500: #ef4444;
}