*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}